extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working
          p
            |It is a long established fact that a reader will be 
            |distracted by the readable content of a page when 
            |looking at its layout. The point of using Lorem 
            |Ipsum is that it has a more-or-less normal 
            |distribution of letters, as opposed to using 
            |'Content here, content here', making it look like 
            |readable English.
          p
              a.btn.btn-primary.btn-lg(href="#") Read More
        .col-md-5
            img(src='images/mouse1.jpg')
  .row
    .col-md-4
     .well
        h2 Hardware Problems
        p
          | We can solve your hardware related problems from mouce to
          | harddisk all kind of parts replacement available
    .col-md-4
      .well
        h2 Software problems
        p
          | We can solve your software related problems from mouce to
          | harddisk all kind of parts replacement available
    .col-md-4
      .well
        h2 PC Tune Up
        p
          | We can solve your PC  speed related problems from mouce to
          | harddisk all kind of parts replacement available
  
